# For advice on how to change settings please see
# http://dev.mysql.com/doc/refman/5.6/en/server-configuration-defaults.html

[mysqld]

# ***Insecure: For local environment only ***
#skip-networking

bind-address = 127.0.0.1
#socket = /var/mysql/mysqld.sock 

sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES 
character-set-server=utf8

###############################
# Drupal recommended settings #
###############################

# INNODB #
innodb_buffer_pool_size = 384M
innodb_log_file_size = 10M
innodb_log_buffer_size = 64M
innodb_flush_log_at_trx_commit = 1
innodb_lock_wait_timeout = 180

# CACHES AND LIMITS #

# Adjust to bring the threads created % of conections closer to 100. 
# http://anothermysqldba.blogspot.com/2013/09/mysql-optimization-tip-threadcachesize.html
thread_cache_size = 32

# Try number of CPU's*2 for thread_concurrency
thread_concurrency = 8

query_cache_size = 16M
wait_timeout=28800
interactive_timeout = 28800
skip-external-locking

# BUFFERS #

# 16M is the most MySQL will store entirely in large-pages. Past that,
# it will start shunting some of it off to normal memory. Since @Vekseid only
# use about 7 megs normally, this isn't a problem. Otherwise, however,
# it can make calculating how much space you need difficult.
# @abramo suggests 384M but @Etanol says this can be safely reduced to 32M or even 16M if you have few (0-20) or small (<1gb total) databases. @trainingcity suggests 64M. @quaoar has his at 1G. Original 36M.
key_buffer_size = 64M

# @Etanol suggests 1M. @Sudeepg suggests 2M (as does original) & 4M. 
# @trainingcity suggests 2M # 1M for 1GB, 2M for 2GB, 4M for 4GB.  @Vekseid suggests 256K.
# http://www.mysqlperformanceblog.com/2007/09/17/mysql-what-read_buffer_si...
read_buffer_size = 2M

# Large values hurt performance of small queries. Percona suggests up to 1M.
# @abramo suggests 2M & @Sudeepg suggests 4M. @Etanol suggests 8M. 
# @trainingcity suggests 2M # 1M for 1GB, 2M for 2GB, 4M for 4GB.  @Vekseid suggests 256K.
# http://www.mysqlperformanceblog.com/2007/08/18/how-fast-can-you-sort-dat...
sort_buffer_size = 2M

# Buffer for reading rows in sorted offer, specifies Maximum Value.
# Percona recommends values around 16MB.
# @Sudeepg suggests 4M & 16M.  @Vekseid suggests 2M.
# @trainingcity suggests 1536K # 768K for 1GB, 1536K for 2GB, 3072K for 4GB
# A rule-of-thumb is to allocate 1KB for each 1MB of memory on the server
read_rnd_buffer_size = 32M

# Sort buffer is used to perform sorts for some ORDER BY and GROUP BY
# queries. If sorted data does not fit into the sort buffer, a disk
# based merge sort is used instead - See the "Sort_merge_passes"
# status variable. Allocated per thread if sort is needed.
# These two should both be the default values. If you are bulk-loading
# data from a script, you may want to increase bulk_insert_buffer_size
# to speed up operation.
# @Ethanol suggests 8M for bulk_insert_buffer_size. Original is 64M.
# For myisam_sort_buffer_size @Etanol suggests 32M. @Sudeepg suggests 2M. @Jose suggests 2M
# and @trainingcity suggests 32M for 1GB, 64M for 2GB, 128 for 4GB. Percona suggests 8MB-256MB.
# Drupal 7 shouldn't be using MyISAM.
bulk_insert_buffer_size  = 64M
myisam_sort_buffer_size  = 64M

# SAFETY #

# This value by default is small, to catch large (possibly incorrect) packets.
# You must increase this value if you are using large BLOB columns or long strings. It 
# should be as big as the largest BLOB you want to use. The protocol limit for 
# max_allowed_packet is 1GB. The value should be a multiple of 1024; non-multiples are
# rounded down to the nearest multiple. 
# http://dev.mysql.com/doc/refman/5.0/en/server-system-variables.html#sysv...
# @trainingcity & Percona suggests 16. @abramo & @Ethanol suggests 64M.  
# @Sudeepg suggests 128M. Original 1M.
max_allowed_packet = 64M

max-connect-errors = 1000000

# LOGGING #

slow-query_log = 1
long_query_time = 2
slow_query_log_file = /Users/aczietlow/Sites/logs/mysql/mysql-slow.log
log-error = /Users/aczietlow/Sites/logs/mysql/mysql-error.log

# Don't need a high number of max connections since we're on a local dev.
max_connections = 60

#Mac specific settings
#skip-thread-priority = 1
